<h1>Create List Here</h1>

<form action="/create/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="create">Item: </label>
    <input id="create" type="text" name="create" value="{{ current_name }}">

    <label for="create">Quantity: </label>
    <input id="create" type="number" name="create" value="{{ qty }}">

    <label for="create">Substitute: </label>
    <input id="create" type="text" name="create" value="{{ subsititute }}">
    
    <label for="create">Urgent</label>
    <input id="create" type="checkbox" name="create" value="{{ urgent }}">
    <input type="submit" value="Create">
</form>